.modal {
  pointer-events: none;
  visibility: hidden;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* display: flex;
  justify-content: center; */
  opacity: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  overscroll-behavior: contain;
  width: 100vw;
  height: 100vh;
}

.modal.modal-open {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  overflow: hidden;
}

.modal.modal-open .modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slidepane-wrapper {
  position: fixed;
  top: 0;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.slidepane-wrapper > .modalContent {
  max-width: 100vw;
  height: 100vh;
  background: white;
  z-index: 10;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.right .modalContent {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.left .modalContent {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.modal-wrapper .modalContent {
  max-height: calc(100vh - 4rem);
  max-width: calc(100vh - 4rem);
  background: white;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.modal.modal-open.slidePane.right > .modalContent {
  max-height: 100vh;
  max-width: 100vh;
}

.modalHeader {
  height: 2rem;
  border-bottom: 1px solid rgb(230 232 240);
  display: flex;
  flex-direction: row;
  padding: 8px 10px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-align: left;
}
.modal-header-title {
  width: 88%;
}

.modal-body {
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  position: relative;
}

.modal-body.w-xs {
  width: 350px;
}
.modal-body.w-sm {
  width: 500px;
}
.modal-body.w-md {
  width: 750px;
}
.modal-body.w-lg {
  width: 93vw;
}

.modal-footer {
  min-height: 3rem !important;
  display: flex;
}

.close-wrapper {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translatey(-50%);
  font-size: 17px;
  cursor: pointer;
}

.icon {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: rgb(190, 190, 190);
  color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.modal-action {
  border-top: 1px solid rgb(230 232 240);
  display: flex;
  flex-direction: row;
  padding: 8px 10px;
  justify-content: flex-end;
  grid-gap: 5px;
}

.btn {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 0.6rem 1.5rem;
  font-size: 19px;
}

.btn-primary {
  background-color: #098ed0;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #0ca2ed;
}

.btn-error {
  background-color: #af0833;
}

.btn-error:hover {
  background-color: #d10a3d;
}

.position{
  position: relative;
}

@media screen and (max-width: 540px) {
  .modal-body {
    width: 93vw !important;
  }
}
